
<!--
  lat: 40.68919, //REQUIRED | Latitude of start point
  lon: -73.992378, //REQUIRED | Longitude of start point
  mode: 'driving', //REQUIRED | Mode of Transport (walking or driving)
  minutes: 1, //REQUIRED | Number of minutes in Transport
  size: 2 //OPTIONAL
-->
<p>Use Mock Data?<input type="checkbox" id="mockdata" name="mockdata" [(ngModel)]="useMockData" /></p>
<p>Type:
  <select [(ngModel)]="selectedType" [disabled]="useMockData">
    <option *ngFor="let type of types" [value]="type">{{type}}</option>
  </select>
</p>
<p>Query: <input type="text" id="query" name="query" placeholder="query search" [(ngModel)]="query" [disabled]="useMockData" /></p>
<p>Miles: <input type="text" id="miles" name="miles" placeholder="number of miles" [(ngModel)]="miles" [disabled]="useMockData" /></p>
<p>Price: <input type="text" id="prices" name="prices" placeholder="prices" [(ngModel)]="prices" [disabled]="useMockData" /></p>
<p>Open now?: <input type="checkbox" id="openNow" name="openNow" placeholder="distance" [(ngModel)]="openNow" [disabled]="useMockData" /></p>
<p>Sort by distance: <input type="checkbox" id="sortby" name="sortby" placeholder="distance" [(ngModel)]="sortByDistance" [disabled]="useMockData" /></p>

<button type="button" (click)="getNewRecommendations()">Get Results</button>


<div *ngIf="recommendations.length > 0" style="display: flex; justify-content: space-around; flex-wrap: wrap;">
  <ol *ngFor="let rec of recommendations; let i = index" style="width: 150px;">
    <p *ngIf="rec.photo"><img [src]="rec.photo.prefix + '150x150' + rec.photo.suffix" width="150px" alt=""></p>
    <app-card [name]="i + rec.venue.name"></app-card>
  </ol>
</div>

<button *ngIf="page < totalResults" type="button" (click)="getRecommendations()">Get Next page</button>
