
<!--
  lat: 40.68919, //REQUIRED | Latitude of start point
  lon: -73.992378, //REQUIRED | Longitude of start point
  mode: 'driving', //REQUIRED | Mode of Transport (walking or driving)
  minutes: 1, //REQUIRED | Number of minutes in Transport
  size: 2 //OPTIONAL
-->
<p>Use Mock Data?<input type="checkbox" id="mockdata" name="mockdata" [(ngModel)]="useMockData" /></p>
<p>Type:
  <select [(ngModel)]="selectedType" [disabled]="useMockData">
    <option *ngFor="let type of types" [value]="type">{{type}}</option>
  </select>
</p>
<p>Keyword: <input type="text" id="keyword" name="keyword" placeholder="keyword search" [(ngModel)]="keyword" [disabled]="useMockData" /></p>
<p>Miles: <input type="text" id="miles" name="miles" placeholder="number of miles" [(ngModel)]="miles" [disabled]="useMockData" /></p>
<!-- <p>Rank by: <input type="text" id="rankby" name="rankby" placeholder="distance or prominence" [(ngModel)]="rankby" [disabled]="useMockData" /></p> -->
<p>
  Price: <input type="text" id="minprice" name="minprice" placeholder="minprice" [(ngModel)]="minprice" [disabled]="useMockData" />
  - <input type="text" id="maxprice" name="maxprice" placeholder="maxprice" [(ngModel)]="maxprice" [disabled]="useMockData" />
</p>
<button type="button" (click)="getPlaces()">Get Results</button>
<button *ngIf="!useMockData && nextPageToken !== ''" type="button" (click)="getNextPage()">Get Next page</button>

<!-- <ol>
  <li *ngFor="let place of places;">
    {{place.name}}
  </li>
</ol> -->
<!-- <google-map></google-map> -->
<ng-container *ngIf="places.length > 0">
  <app-card [name]="places[0].name"></app-card>
</ng-container>

<img [src]="pic" alt="">
